/* Código omitido*/

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,576;1,576&family=Oswald:wght@200..700&display=swap');

:root {
    --cor-principal: #11a7cc;
    --cor-secundaria: #020969;
    --cor-destaque: #ae26ec;
}

body, div.card-body {
font-family: "Oswald", sans-serif;
color: var(--cor-principal);
background-color: #FFF2B8;}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 850;
}

.lead {
  color: var(--cor-destaque);
  font-weight: 700;
}

footer a, p {
    color: var(--cor-principal)
}

footer a:hover {
    color: var(--cor-destaque);
}

a,
.btn-link:hover {
  color: var(--cor-destaque);
}

a:hover {
  color: var(--cor-destaque);
}
